html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.main {
  background-color: #2c2141;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #f8f8f8;
  width: 624px;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  align-content: space-around;
}
.card__photo {
  height: max-content;
  margin-right: 32px;
}
.title__heding {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
.title__description {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: #545454;
  margin: 0;
}
.card__description{
    line-height: 22px;
    font-size: 16px;
}
.specjal {
  color: #ed6d05;
  font-weight: normal;
}

.footer__link {
  text-decoration: none;
    color: #e20613;
}
